body{
	background-color: Tomato;
}
h1{
	font-size: 3rem;
	font-family: 'Comic Sans MS', cursive;
}
p{
	font-family: 'Courier New', cursive;
	font-size: 2rem;
}
.container
{
	text-align: center;
	margin: auto;
}
img{
width: 50%;
}
#main > div{
  padding-left: 100px;
  float:left;
  margin:20px;
}
